.social-links {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.footer-contact-link-img {
  width: 50px;
  object-fit: contain;
}

.footer-container {
  background-color: black;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 80px;
  padding: 80px 64px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    padding: 48px 20px;
    gap: 48px;
  }
}

.footer-contact-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.footer-contact-page-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-socialMedia {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.footer-privacy-contact-links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-privacy-links-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    padding: 24px 0 16px 0;
  }
}

.footer-contact-link-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 112px 64px 32px 64px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}

.footer-contact-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  @media (max-width: 768px) {
    h6 {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.footer-contact-link-img {
  width: 50px;
}

.page-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  @media (max-width: 768px) {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer-contact-page-links-container {
    flex-direction: column;
  }

  .footer-privacy-links-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-conatact-link-container {
    flex-direction: column;
  }
}
