.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.nav-bar {
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  align-items: center;
  padding: 16px 64px;
  border-bottom: 1px solid var(--grey-scale-100);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 600px) {
  .right-section {
    display: none;
  }

  .nav-bar {
    flex-direction: column;
    align-items: unset;
    padding: 8px 32px;
  }

  .right-section.open {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    button {
      width: 100%;
    }
  }

  .hamburgerContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
