.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.nav-bar {
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  align-items: center;
  padding: 16px 64px;
  border-bottom: 1px solid var(--grey-scale-100);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 600px) {
  .right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0; /* Start with max-height 0 to hide it */
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* display: none; */
  }

  .nav-bar {
    flex-direction: column;
    align-items: unset;
    padding: 8px 32px;
  }

  .right-section.open {
    /* display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start; */
    max-height: 500px; /* Or set an appropriate height to fit content */
    opacity: 1;
    margin-top: 40px;

    margin-top: 40px;
    button {
      width: 100%;
    }
    transition: max-height 0.3s ease-in, opacity 0.3s ease;

  }

  .hamburgerContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
