.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.nav-link:hover {
  background: linear-gradient(
    to right,
    rgba(255, 48, 48, 1),
    rgba(255, 0, 160, 0.8)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
