.logo-img {
  max-width: 150px;
  object-fit: contain;
}

.logo-container {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .logo-container {
    justify-content: flex-start;
    margin: 0;
  }
}
